@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Hola Mundo</h1>

<table class="table table-bordered">
    <tr>
        <th>Nombres</th>
        <th>Apellidos</th>
    </tr>
    <tr>
        <td>Keny</td>
        <td>Pauccarima</td>
    </tr>
</table>